# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio captures
captures/

# Google Services file (Contains API keys)
# It's better to keep this out of public repos
app/google-services.json

# External native build folder
.externalNativeBuild
.cxx

# OS-specific files
.DS_Store
Thumbs.db

# PHP/Backend sensitive files
service-account.json
db.php
